<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar bg-white">
      <h3 class="title text-primary">Lists</h3>

      <div class="list-menu">
        <a
          class="list-menu-item is-active"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          [ngClass]="{ 'is-active': list._id === this.listId }"
        >
          <p class="mb-0">{{ list.title }}</p>
        </a>
      </div>

      <button
        id="new-list-button"
        class="btn btn-primary"
        [routerLink]="['/lists/create-list']"
      >
        <p class="text-light mb-0">+ New List</p>
      </button>
    </div>
    <div class="task-list-container bg-light">
      <div class="title-bar">
        <h3 class="title text-primary">Tasks</h3>
        <div class="dropdown-options dropdown" *ngIf="lists.length">
          <button
            class="btn btn-light btn-lg dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              width="18px"
              src="../../../assets/icons/gear-solid.svg"
              alt="list options icon"
            />
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li [routerLink]="['/lists', listId, 'edit-list']">
              <a class="dropdown-item">Edit</a>
            </li>
            <li (click)="onDeleteListClick()">
              <a class="dropdown-item text-danger">Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="tasks.length; else noTasks">
        <div
          class="task-list"
          *ngFor="let task of tasks"
          [ngClass]="{ 'is-complete': task.completed }"
        >
          <p class="task-item m-0" (click)="onTaskClick(task)">
            {{ task.title }}
          </p>
          <div class="button-groups">
            <button
              type="button"
              class="btn btn-light mx-3"
              [routerLink]="['/lists', listId, 'tasks', task._id, 'edit-task']"
            >
              <img
                width="18px"
                src="../../../assets/icons/pen-to-square-solid.svg"
                alt="edit task icon"
              />
            </button>
            <button
              type="button"
              class="btn btn-light"
              (click)="onDeleteButtonClick(task._id)"
            >
              <img
                width="18px"
                src="../../../assets/icons/trash-solid.svg"
                alt="delete task icon"
              />
            </button>
          </div>
        </div>
      </div>
      <ng-template #noTasks>
        <span class="error-title" *ngIf="this.listId.length"
          >There are currently no tasks in this list. Please click the plus icon
          to add a new task.</span
        >
        <span class="error-title" *ngIf="!this.listId.length"
          >Please select a list to view the corresponding tasks</span
        >
      </ng-template>
    </div>

    <button
      *ngIf="listId.length"
      class="circle-add-button btn btn-primary btn-lg"
      [routerLink]="['/lists', listId, 'create-task']"
    >
      <img src="../../../assets/icons/plus-solid.svg" alt="plus icon" />
    </button>
  </div>
</div>
